body{
    text-align: center;
    font-family:'Times New Roman', Times, serif;
    background-color: rgb(5, 83, 83)
}
p{
    text-indent: 195px;
    margin-left: 180px;
    margin-right: 180px;
}
h1{
    color: rgb(197, 16, 16)
}

img{
    width: 125px;
    height: 150px;
}