body{
    text-align: center;
    font-family:'Times New Roman', Times, serif;
    background-color: rgb(6, 92, 92)
}
p{
    text-indent: 195px;
    margin-left: 180px;
    margin-right: 180px;
}
summary{
    font-weight: bold;
    margin-bottom: 10px;
}
h1{
    color: rgb(107, 3, 3)
}
h2{
    color:rgb(41, 3, 214)
}
h4{
    font-style: oblique;
}

hr{
    border-width:0;
    color:black;
    background-color: black;
    height:2px;
}

img{
    width: 125px;
    height: 150px;
}